@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.2em;
  }
  p {
    font-size: 1.1em;
  }
  body {
    font-size: 1.1em;
  }
  .header-caixa-filho {
    display: flex;
  }
  .header-caixa-texto {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.45em;
    max-width: 900px;
  }
  .div-alianca-list-tips{
    display: block;
    position: relative;
  }
  .div-alianca-filho{
    display: block;
    background-color: red;
    
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100px;
  }
}
