@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Red+Hat+Display&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --cor-mobile01: #1c1c22;
    --cor-mobile02: #4e3e0c;
    --cor-mobile03: #c9b09a;
    --cor-mobile04: #e8e0dc;

    
}
header{
    background: url(../imagens/imagem-background-cell.webp) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
}
.header-caixa-filho{
    margin: auto;
    background-color: rgba(42, 42, 42, 0.604);
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-size: 1.2em;
    color: var(--cor-mobile04);
}
h1{
    padding: 150px 12px 50px;
    font-family: 'Red Hat Display', sans-serif;
}
p{
    padding: 15px;
    font-size: 1.2em;
    font-family: 'Red Hat Display', sans-serif;
}