@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");
* {
  font-family: "Red Hat Display", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--cor-mobile04);
}
:root {
  --cor-mobile01: #1c1c22;
  --cor-mobile02: #4e3e0c;
  --cor-mobile03: #c9b09a;
  --cor-mobile04: #e8e0dc;
}
header {
  background: url(../imagens/imagem-background-cell.webp) no-repeat center
    center;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.header-caixa-texto {
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}
.header-caixa-filho {
  display: flex;
  background-color: rgba(42, 42, 42, 0.604);
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  color: var(--cor-mobile04);
  padding: 30px;
}

/* Como Manter um Relacionameto Saudavel? */

.div-title-list-tips {
  height: 75vh;
  background-color: var(--cor-mobile04);
  font-size: 1.2em;
}
.div-title-list-tips h2 {
  width: 80%;
  margin: auto;
  padding-top: 15px;
}
.div-title-list-tips h3 {
  padding: 30px;
  width: 90%;
  color: var(--cor-mobile01);
}
.div-alianca-list-tips{
  display: none;
}

/* secao do site que contem as dicas de um relacionamento melhor */
.div-list-tips {
  background: var(--cor-mobile03) url(../imagens/casal--idoso.jpg) no-repeat
    center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  color: white;
  border-radius: 0px 0px 25px 25px;
  width: 100%;
}

.div-color-escuro {
  background-color: #1c1c228f;
  height: 100%;
  width: 100vw;
  border-radius: 0px 0px 25px 25px;
}

/* caixas de texto dicas */
.article-list-children {
  margin: 25px auto;
  height: 100px;
  width: 80%;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--cor-mobile04);
  border-radius: 10px;

  text-align: center;
  color: transparent;
  box-shadow: 0px 0px 5px white;

  overflow: hidden;
  transition: color 1s ease, height 0.3s;
  transition-timing-function: cubic-bezier(0.65, 0, 0.4, 0.99);
}
.article-list-children h4 {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--cor-mobile04);
  padding-bottom: 20px;
}
.article-list-children p {
  width: 90%;
}

.article-list-children:hover {
  cursor: pointer;
  height: 250px;
  overflow: visible;
  color: white;
  background-color: rgba(0, 0, 0, 0.345);
  box-shadow: 0px 0px 15px white;
}
/* =========================================== */

.section-list-atividades h2 {
  text-align: center;
  width: 70%;
  font-size: 1.6em;
  margin: auto;
  padding: 15px 0px;
}
.section-list-atividades h3 {
  font-size: 1.4em;
  color: var(--cor-mobile01);
  padding: 18px;
  width: 80%;
}
.section-list-atividades p {
  width: 76%;
  line-height: 1.5em;
  font-size: 1.2em;
  color: black;
  margin: auto;
  padding: 15px 0px;
}

.imagem-casal {
  margin-top: 35px;
  height: 300px;
  width: 100%;
  background-color: #ccc;
  border-radius: 10px;
}

.txt-align-right {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.txt-align-left {
  background-color: var(--cor-mobile03);
  padding: 20px;
}
.txt-align-right {
  background-color: var(--cor-mobile04);
}
.txt-align-right:first {
  border-radius: 15px 15px 0px 0px;
}

.imagem-casal-cozinha {
  background: url(../imagens/imagem-cell-cozinha.jpg) no-repeat center center;
  background-size: cover;
}
.imagem-casal-passeando {
  background: url(../imagens/imagem-cell-passeando.jpg) no-repeat center center;
  background-size: cover;
}
.imagem-casal-spa {
  background: url(../imagens/imagem-cell-spa.jpg) no-repeat center center;
  background-size: cover;
}
.imagem-casal-lendo {
  background: url(../imagens/imagem-cell-lendo.jpg) no-repeat center center;
  background-size: cover;
}
.imagem-casal-bosque {
  background: url(../imagens/imagem-cell-bosque.jpg) no-repeat center center;
  background-size: cover;
}
.imagem-casal-foto {
  background: url(../imagens/imagem-cell-foto.jpg) no-repeat center center;
  background-size: cover;
}

.div-aside {
  background-color: var(--cor-mobile01);
  width: 80%;
  transition: 0.5s;
  margin: 30px auto;
  height: 500px;
}
.div-aside:hover {
  cursor: pointer;
  width: 100%;
}

.div-aside h3 {
  width: 100%;
  color: var(--cor-mobile04);
  border-left: 1px solid white;
}
.div-article-imagem-fundo {
  height: 565px;
  box-sizing: border-box;
}
.imagem-fundo-PB {
  background: linear-gradient(rgba(28, 28, 34, 0.64), #c9b09abf),
    url(../imagens/imagem-fundo-PB.jpg) no-repeat center center;
  background-size: cover;
  margin: 90px auto;
  width: 80%;
  height: 570px;
  transition: 0.2s;
  border-radius: 15px;
}

.imagem-fundo-PB p {
  color: white;
  width: 90%;
}
.imagem-fundo-PB h3 {
  color: white;
}
.imagem-fundo-PB:hover {
  cursor: pointer;
  width: 100%;
  height: 450px;
}
footer {
  width: 100%;
  height: 20vh;
  background-color: #1c1c22;
  color: var(--cor-mobile04);
  margin-top: 50px;
}
address i {
  color: #e8e0dca7;
  font-size: 1.4em;
  padding: 10px;
}
address i:hover {
  color: white;
}
.p-footer {
  color: var(--cor-mobile04);
  padding: 2em;
}
.p-footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}
.caixa-blur {
  transition: 0.2s all;
  display: flex;
  justify-content: space-around;
}
.caixa-blur:hover .caixa {
  filter: blur(3px);
  transform: scale(0.98);
}
.caixa:hover {
  filter: blur(0px) !important;
}
